/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
}

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  font-size: 1em;
  /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

summary {
  display: list-item;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

button {
  background-color: transparent;
  background-image: none;
}

fieldset {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

html {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 1 */
  line-height: 1.5;
  /* 2 */
}

body {
  font-family: inherit;
  line-height: inherit;
}

::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: currentColor;
  /* 2 */
}

hr {
  border-top-width: 1px;
}

a {
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: inherit;
}

a:active,
a:hover {
  outline: 0;
}

@font-face {
  font-family: "Anton";
  src: url("../../fonts/Anton-Regular.eot");
  src: url("../../fonts/Anton-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/Anton-Regular.woff2") format("woff2"), url("../../fonts/Anton-Regular.woff") format("woff"), url("../../fonts/Anton-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Maison Neue";
  src: url("../../fonts/MaisonNeue-Light.eot");
  src: url("../../fonts/MaisonNeue-Light.eot?#iefix") format("embedded-opentype"), url("../../fonts/MaisonNeue-Light.woff2") format("woff2"), url("../../fonts/MaisonNeue-Light.woff") format("woff"), url("../../fonts/MaisonNeue-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */
/* ==========================================================================
   Full vh helper
   https://gist.github.com/MarioSo/833eace64f225f66083ea689c16a526c
   ========================================================================== */
/* ==========================================================================
   Settings
   ========================================================================== */
/* Fonts
   ========================================================================== */
/* Colors
   ========================================================================== */
/* Headings
      ========================================================================== */
/* Widths
   ========================================================================== */
/* Breakpoints
   ========================================================================== */
/* Transitions
   ========================================================================== */
/* Design
   ========================================================================== */
.body-font {
  font-family: "Maison Neue";
}

.title-font {
  font-family: "Anton";
  font-weight: 400;
  letter-spacing: 0.01em;
}

.button-font {
  font-family: "PitchSans";
}

.px-4 {
  padding-left: 15px;
  padding-right: 15px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 750px) {
  .container {
    max-width: 800px;
  }
}
@media screen and (min-width: 1025px) {
  .container {
    max-width: 991px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1400px;
  }
}

.flex {
  display: flex;
}

.flex-flex {
  flex-wrap: wrap;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

header {
  background-color: #000000;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}
@media screen and (min-width: 750px) {
  header {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
header .container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  line-height: 0;
}
@media screen and (min-width: 750px) {
  header .container {
    flex-direction: row;
  }
}
header .download-buttons a:not(:first-child) {
  margin-left: 20px;
}
header .download-buttons.show {
  display: flex !important;
}
@media screen and (max-width: 749px) {
  header .download-buttons {
    display: none;
    position: absolute;
    top: 100%;
    z-index: 999;
    background: #000000;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    padding: 0px 15px 25px;
  }
  header .download-buttons a {
    flex-grow: 1;
  }
  header .download-buttons a img {
    width: 100%;
  }
  header .download-buttons > .flex {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }
}
header .header-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 749px) {
  header .header-logo {
    flex-grow: 1;
    width: 100%;
  }
  header .header-logo a img {
    max-width: 250px;
  }
}
header .header-logo .humburg-menu {
  cursor: pointer;
  padding: 0px 10px;
}
@media screen and (min-width: 750px) {
  header .header-logo .humburg-menu {
    display: none;
  }
}

.hero-section {
  color: #ffffff;
}
.hero-section .hero-slider {
  margin-bottom: 0px;
}
.hero-section .hero-slider .slick-list {
  line-height: 0;
}
.hero-section .hero-slider .hero-slide {
  position: relative;
  height: 100vh;
  width: 100%;
}
@media screen and (max-width: 749px) {
  .hero-section .hero-slider .hero-slide {
    height: 630px;
    padding-bottom: 100px;
  }
}
.hero-section .hero-slider .slick-dots {
  bottom: 30px;
}
@media screen and (min-width: 750px) {
  .hero-section .hero-slider .slick-dots {
    max-width: 45%;
  }
}
@media screen and (min-width: 1025px) {
  .hero-section .hero-slider .slick-dots {
    max-width: 53%;
  }
}
.hero-section .hero-slider .slick-dots li button:before {
  content: "";
  border: 2px solid #ffffff;
  border-radius: 100%;
  opacity: 1;
  width: 16px;
  height: 16px;
}
.hero-section .hero-slider .slick-dots li.slick-active button:before {
  background-color: #ffffff;
}
.hero-section .hero-banner {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.hero-section .hero-title-box,
.hero-section .hero-content-box {
  position: absolute;
  right: 0;
  background: #000000;
  padding: 25px 40px;
  z-index: 10;
  width: 100%;
  max-width: 100%;
}
@media screen and (max-width: 1024px) {
  .hero-section .hero-title-box,
.hero-section .hero-content-box {
    padding: 25px 35px;
  }
}
@media screen and (max-width: 749px) {
  .hero-section .hero-title-box,
.hero-section .hero-content-box {
    padding: 20px 25px;
  }
}
@media screen and (min-width: 750px) {
  .hero-section .hero-title-box,
.hero-section .hero-content-box {
    max-width: 500px;
  }
}
@media screen and (min-width: 1025px) {
  .hero-section .hero-title-box,
.hero-section .hero-content-box {
    padding: 50px 70px;
    max-width: 600px;
  }
}
@media screen and (min-width: 1280px) {
  .hero-section .hero-title-box,
.hero-section .hero-content-box {
    max-width: 700px;
  }
}
@media screen and (min-width: 1440px) {
  .hero-section .hero-title-box,
.hero-section .hero-content-box {
    max-width: 800px;
  }
}
.hero-section .hero-title-box {
  top: 0;
}
@media screen and (max-width: 749px) {
  .hero-section .hero-title-box {
    top: auto;
    bottom: 220px;
    background: -webkit-linear-gradient(bottom, black 10%, rgba(0, 0, 0, 0.67) 40%, rgba(255, 255, 255, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
  }
}
.hero-section .hero-title-box span {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-bottom: 15px;
  display: block;
}
@media screen and (min-width: 1025px) {
  .hero-section .hero-title-box span {
    font-size: 16px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .hero-section .hero-title-box span {
    letter-spacing: 0.3em;
    margin-bottom: 30px;
  }
}
.hero-section .hero-content-box {
  bottom: 0;
}
@media screen and (max-width: 749px) {
  .hero-section .hero-content-box {
    padding-bottom: 80px;
  }
}
@media screen and (min-width: 1025px) {
  .hero-section .hero-content-box {
    padding: 50px 70px 20px;
  }
}
@media screen and (max-width: 749px) {
  .hero-section .hero-content-box .hero-usp {
    justify-content: center;
  }
}
@media screen and (max-width: 1024px) {
  .hero-section .hero-content-box .hero-usp {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1025px) {
  .hero-section .hero-content-box .hero-usp {
    font-size: 60px;
    margin-bottom: 40px;
  }
}
.hero-section .hero-content-box .hero-usp .hero-usp-box span {
  font-size: 16px;
  display: block;
  margin-bottom: 10px;
  line-height: 1.3;
  letter-spacing: 0.01em;
}
@media screen and (max-width: 749px) {
  .hero-section .hero-content-box .hero-usp .hero-usp-box span {
    font-size: 12px;
  }
}
.hero-section .hero-content-box .hero-usp .hero-usp-box h4 {
  font-size: 42px;
  text-transform: uppercase;
  line-height: 1;
  display: block;
}
@media screen and (max-width: 749px) {
  .hero-section .hero-content-box .hero-usp .hero-usp-box h4 {
    font-size: 28px;
  }
}
.hero-section .hero-content-box .hero-usp .hero-usp-box:first-child {
  padding-left: 0px;
}
.hero-section .hero-content-box .hero-usp .hero-usp-box {
  padding: 0px 20px;
}
.hero-section .hero-content-box .hero-usp .hero-usp-box:not(:first-child) {
  border-left: 1px solid #ffffff;
}
@media screen and (max-width: 749px) {
  .hero-section .hero-content-box .hero-usp-buttons {
    justify-content: center;
  }
}
.hero-section .hero-content-box .hero-usp-buttons a.squre-button {
  text-align: center;
  font-weight: 700;
}
.hero-section .hero-content-box .hero-usp-buttons a.squre-button:first-child {
  margin-right: 15px;
}
@media screen and (max-width: 749px) {
  .hero-section .hero-content-box .hero-usp-buttons a.squre-button {
    padding: 13px 20px;
    font-size: 18px;
  }
}
@media screen and (min-width: 1025px) {
  .hero-section .hero-content-box .hero-usp-buttons a.squre-button {
    padding: 15px 30px;
  }
  .hero-section .hero-content-box .hero-usp-buttons a.squre-button:first-child {
    margin-right: 25px;
  }
}
.hero-section .hero-content-box .button-white:hover, .hero-section .hero-content-box .button-white:focus,
.hero-section .hero-content-box .button-black:hover,
.hero-section .hero-content-box .button-black:focus {
  background: #000000;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.title-xl {
  font-size: 40px;
  line-height: 1;
}
@media screen and (min-width: 750px) {
  .title-xl {
    font-size: 60px;
  }
}
@media screen and (min-width: 1280px) {
  .title-xl {
    font-size: 90px;
  }
}
@media screen and (min-width: 1440px) {
  .title-xl {
    font-size: 120px;
  }
}

.squre-button {
  font-size: 20px;
  padding: 18px 30px;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  transition: 0.3s all ease-in-out;
}

.button-white {
  background: #ffffff;
  color: #000000;
  border: 1px solid #ffffff;
}
.button-white:hover, .button-white:focus {
  background: #000000;
  color: #ffffff;
  border: 1px solid #000000;
}

.button-black {
  background: #000000;
  color: #ffffff;
  border: 1px solid #000000;
}
.button-black:hover, .button-black:focus {
  background: #ffffff;
  color: #000000;
  border: 1px solid #ffffff;
}

.black-box-space {
  display: block;
  width: 100%;
  height: 180px;
  background-color: #000000;
}
@media screen and (max-width: 749px) {
  .black-box-space {
    display: none;
  }
}

.brand-section {
  background: linear-gradient(0deg, #F0E886 0%, #90D1CB 100%);
  padding: 70px 15px 0px;
  position: relative;
  overflow: hidden;
}
.brand-section:before {
  content: "";
  width: 100%;
  height: 100%;
  background-image: url(../img/brand-section-shap.svg);
  background-position: center right;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  z-index: 0;
  right: 0px;
  bottom: 0px;
  opacity: 30%;
}
@media screen and (max-width: 749px) {
  .brand-section:before {
    background-image: url(../img/brand-section-shap-mobile.svg);
    max-width: 100%;
    bottom: auto;
    top: 10px;
    background-position: right 50px top;
    background-size: 300px;
  }
}
.brand-section::after {
  content: "";
  width: 500px;
  height: 650px;
  max-width: 70%;
  max-height: 90%;
  background-image: url(../img/face-img.svg);
  background-position: center right;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  z-index: 2;
  right: 0px;
  bottom: 0px;
}
@media screen and (max-width: 749px) {
  .brand-section::after {
    max-width: 250px;
    bottom: auto;
    top: 10px;
    background-position: right -50px top;
    height: 500px;
  }
}
.brand-section .max-w-sm {
  width: 100%;
  max-width: 500px;
  align-items: flex-end;
}
@media screen and (max-width: 1024px) {
  .brand-section .max-w-sm {
    flex-direction: column;
    max-width: 200px;
    align-items: flex-start;
  }
}
@media screen and (max-width: 749px) {
  .brand-section .max-w-sm {
    max-width: 140px;
    position: absolute;
    top: 240px;
  }
}
.brand-section h2 {
  color: #ffffff;
  max-width: 300px;
}
.brand-section h4 {
  font-family: "Aroha";
  font-size: 60px;
  color: #0D0D0A;
  font-weight: 400;
  line-height: 1;
  margin-left: 10px;
}
@media screen and (max-width: 749px) {
  .brand-section h4 {
    font-size: 45px;
  }
}

.watch-branding {
  display: flex;
  align-items: flex-end;
}
@media screen and (max-width: 749px) {
  .watch-branding {
    flex-flow: column-reverse;
    margin-top: 300px;
  }
}
.watch-branding .brand-name {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 20px;
  position: relative;
  z-index: 9;
}
@media screen and (min-width: 750px) {
  .watch-branding .brand-name {
    margin-left: 50px;
    margin-bottom: 30px;
  }
}
.watch-branding .brand-name img {
  margin-top: 10px;
}

.video-box {
  background: #000000;
  color: #ffffff;
  padding: 70px 80px 70px 0px;
  max-width: 600px;
  margin-top: 70px;
  position: relative;
  z-index: 1000;
}
@media screen and (max-width: 749px) {
  .video-box {
    padding: 20px;
    margin-top: 0px;
    max-width: 100%;
  }
}
.video-box:before {
  content: "";
  width: 2000px;
  height: 100%;
  background: #000000;
  position: absolute;
  left: -320%;
  top: 0;
  z-index: -1;
}
.video-box p {
  font-family: "PitchSans";
  font-size: 15px;
  line-height: 24px;
  font-weight: normal;
}
.video-box .watch-button {
  margin-top: 30px;
}
@media screen and (max-width: 749px) {
  .video-box .watch-button img {
    max-width: 55px;
  }
}
.video-box .watch-button span {
  margin-left: 15px;
}
@media screen and (min-width: 750px) {
  .video-box .watch-button span {
    margin-left: 25px;
  }
}

.shop-section {
  position: relative;
  padding: 100px 0px;
  color: #ffffff;
  background-color: #000000;
  overflow: hidden;
}
@media screen and (max-width: 749px) {
  .shop-section {
    padding: 70px 0px 50px;
  }
}
.shop-section h2.section-title {
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 80px;
  line-height: 1;
}
@media screen and (max-width: 749px) {
  .shop-section h2.section-title {
    margin-bottom: 40px;
  }
}
.shop-section .shop-wide-section {
  width: 100%;
  position: relative;
  z-index: 1;
}

.shop-box {
  max-width: 800px;
  overflow: hidden;
  width: 66%;
  background: #000000;
}
@media screen and (max-width: 749px) {
  .shop-box {
    width: 100%;
  }
}
.shop-box .product-content-box {
  padding: 40px 20px 40px 0px;
  font-family: "PitchSans";
  line-height: 24px;
}
@media screen and (max-width: 749px) {
  .shop-box .product-content-box {
    padding: 20px 15px;
  }
}
.shop-box .product-content-box a {
  margin-top: 40px;
  padding: 15px 40px;
}
@media screen and (max-width: 749px) {
  .shop-box .product-content-box a {
    margin-top: 30px;
    padding: 15px 30px;
  }
}
.shop-box .product-content-box a:hover {
  border-color: white;
}
.shop-box .product-title-box {
  padding: 0px 30px 40px 60px;
  position: absolute;
  top: 0;
  right: 0;
  background: #000000;
  z-index: 9;
  width: 100%;
  max-width: 50%;
}
@media screen and (max-width: 1024px) {
  .shop-box .product-title-box {
    max-width: 45%;
  }
}
@media screen and (max-width: 749px) {
  .shop-box .product-title-box {
    position: relative;
    max-width: 100%;
    padding: 20px 15px 0px 15px;
  }
}
.shop-box .product-title-box:before {
  content: "";
  width: 2000px;
  height: 100%;
  background: #000;
  position: absolute;
  left: 90%;
  top: 0;
  z-index: 1;
}
.shop-box .product-title-box h4 {
  font-size: 20px;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
@media screen and (max-width: 749px) {
  .shop-box .product-title-box h2 {
    font-size: 50px;
  }
}

.shop-img {
  width: 100%;
  background: rgba(25, 27, 31, 0.5);
  height: 520px;
}
@media screen and (max-width: 749px) {
  .shop-img {
    height: 450px;
  }
}
.shop-img img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
}

.product-bg-overlay {
  position: absolute;
  bottom: 15%;
  right: 0;
  background: rgba(25, 27, 32, 0.4);
  z-index: 0;
  max-width: 600px;
}
@media screen and (max-width: 749px) {
  .product-bg-overlay {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .product-bg-overlay {
    max-width: 500px;
  }
}
.product-bg-overlay img {
  max-width: 100%;
}

footer {
  background: #000000;
}
footer .top-footer {
  padding: 90px 0px;
  border-top: 1px solid #ECE0D24D;
  border-bottom: 1px solid #ECE0D24D;
}
@media screen and (max-width: 1024px) {
  footer .top-footer {
    padding: 50px 0px;
  }
}
footer .top-footer .justify-between {
  justify-content: space-between;
}
footer .top-footer ul.social-icons {
  color: #ffffff;
}
@media screen and (min-width: 750px) {
  footer .top-footer ul.social-icons {
    order: 2;
  }
}
footer .top-footer ul.social-icons li {
  margin: 0px 20px;
}
@media screen and (max-width: 1024px) {
  footer .top-footer ul.social-icons li a svg {
    width: 25px;
    height: 25px;
  }
}
footer .top-footer ul.social-icons li a:hover {
  transition: 0.2s all ease-in-out;
  color: #91d2ca;
}
@media screen and (min-width: 750px) {
  footer .top-footer .download-buttons {
    order: 3;
  }
}
footer .top-footer .download-buttons a {
  margin-left: 20px;
}
@media screen and (max-width: 749px) {
  footer .top-footer .download-buttons a {
    margin: 20px 10px;
  }
}
@media screen and (max-width: 749px) {
  footer .top-footer .footer-box {
    flex-wrap: wrap;
    flex-direction: column;
  }
}
@media screen and (min-width: 1025px) {
  footer .footer-logo {
    min-width: 250px;
  }
}
footer .bottom-footer {
  padding: 50px 0px 100px;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  footer .bottom-footer {
    padding: 30px 0px 50px;
  }
}
footer .bottom-footer > .flex {
  justify-content: center;
  flex-direction: column;
  color: #fff;
}
footer .bottom-footer .footer-logos a {
  margin: 30px;
}
footer .bottom-footer span {
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.4);
  font-size: 12px;
}
footer .bottom-footer p {
  font-size: 15px;
}
